<div id="footer">
  <div id="fbg">
    <div id="copy">
      <p>
        © 2011.
        <br>
        <a mce_href="http://созвездие.иэуп.рф/" href="http://созвездие.иэуп.рф/">
          Академия творчества и развития
          <br>
          «СОЗВЕЗДИЕ ТАЛАНТОВ»
        </a>
      </p>
    </div>

    <div id="tel2">
      +7 (843)
      <p>
        231
        <span class="circle">92</span>
        <span class="circle">84</span>
      </p>
    </div>
  </div>
</div>