<div id="head">
  <div class="right1">
    <div id="tel">
      +7 (843) 231 92 84<br>+7 (843) 297 01 66<br><a href="mailto:sozvezdie@ieml.ru" mce_href="mailto:sozvezdie@ieml.ru">sozvezdie@ieml.ru</a>
    </div>
  </div>
  <div class="right2">

    <div id="adress">
      Московская, 42<br>Кариева, 10<br>
    </div>
  </div>
  <div class="lefttop">
    <ul>
      <li class="play" title="Проиграть">
        <object height="27" width="27" type="application/x-shockwave-flash" id="myplayer" name="myplayer" data="/assets/player.swf" style="visibility: visible;">
          <param name="wmode" value="transparent" />
          <param name="movie" value="images/player.swf" />
          <param name="flashvars" value="filename=http://sozvezdie.ieml.ru//attachments/4df0bf8587594.mp3?Гимн.mp3">
        </object>
      </li>

      <li class="item3" title="Написать нам"><a href="http://sozvezdie.ieml.ru/academy/contacts/"></a></li>
      <li class="item2" title="Карта сайта"><a href="http://sozvezdie.ieml.ru/sitemap"></a></li>

      <li class="item1" title="На главную"><a href="/"></a></li>

    </ul>

    <div class="logoflash">
      <script>GetFlash("/assets/4ea557ca3d788.swf?flashLogo.swf")</script>
    </div>
    <span id="logo" ></span>
  </div>
</div><!--head-->